<h2>Lista de Times</h2>

<!-- Formulário de Pesquisa -->
<section class="search-section">
  <h2>Filtrar Times</h2>
  <form (ngSubmit)="searchTeams()" class="search-form">
    <div class="form-group">
      <label for="teamName">Nome do Time:</label>
      <input id="teamName" type="text" placeholder="Nome do Time" [(ngModel)]="teamName" name="teamName">
    </div>
    <div class="form-group">
      <label for="country">País:</label>
      <input id="country" type="text" placeholder="País" [(ngModel)]="country" name="country">
    </div>
    <div class="form-group">
      <label for="coachName">Técnico:</label>
      <input id="coachName" type="text" placeholder="Técnico" [(ngModel)]="coachName" name="coachName">
    </div>
    <div class="form-group">
      <label for="teamValueMin">Valor Mínimo:</label>
      <input id="teamValueMin" type="number" placeholder="Valor Mínimo" [(ngModel)]="teamValueMin" name="teamValueMin">
    </div>
    <div class="form-group">
      <label for="teamValueMax">Valor Máximo:</label>
      <input id="teamValueMax" type="number" placeholder="Valor Máximo" [(ngModel)]="teamValueMax" name="teamValueMax">
    </div>
    <div class="form-group">
      <label for="createdAtFrom">Criado Desde:</label>
      <input id="createdAtFrom" type="datetime-local" [(ngModel)]="createdAtFrom" name="createdAtFrom">
    </div>
    <div class="form-group">
      <label for="createdAtTo">Criado Até:</label>
      <input id="createdAtTo" type="datetime-local" [(ngModel)]="createdAtTo" name="createdAtTo">
    </div>
    <div class="form-group">
      <label for="updatedAtFrom">Atualizado Desde:</label>
      <input id="updatedAtFrom" type="datetime-local" [(ngModel)]="updatedAtFrom" name="updatedAtFrom">
    </div>
    <div class="form-group">
      <label for="updatedAtTo">Atualizado Até:</label>
      <input id="updatedAtTo" type="datetime-local" [(ngModel)]="updatedAtTo" name="updatedAtTo">
    </div>
    <button type="submit" class="form-button">Buscar</button>
  </form>
</section>

<!-- Lista de Times -->
<section class="team-list">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>País</th>
        <th>Técnico</th>
        <th>Valor</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.teamName }}</td>
        <td>{{ team.country }}</td>
        <td>{{ team.coachName }}</td>
        <td>{{ team.teamValue | currency }}</td>
        <td>{{ team.createdAt | date }}</td>
        <td>{{ team.updatedAt | date }}</td>
      </tr>
    </tbody>
  </table>
</section>
